:root {
    --primary-color: #333;
    --secondary-color: #777;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
}

html,
body {
    width: 100%;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Медиа-запросы для адаптивности */

/* Для устройств с шириной экрана до 768px */
@media only screen and (max-width: 768px) {
    .container {
        padding: 2%;
    }

    section h1 {
        font-size: var(--font-size-medium);
    }

    section p {
        font-size: var(--font-size-small);
        color: var(--secondary-color);
        margin-bottom: 20px;
        word-wrap: break-word;
    }
}

/* Для устройств с шириной экрана от 768px до 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 2%;
    }

    section h1 {
        font-size: var(--font-size-large);
    }

    section p {
        font-size: var(--font-size-medium);
        color: var(--secondary-color);
        margin-bottom: 20px;
        word-wrap: break-word;
    }
}

/* Для устройств с шириной экрана более 1024px */
@media only screen and (min-width: 1024px) {
    .container {
        padding: 2%;
    }

    section h1 {
        font-size: var(--font-size-large);
    }

    section p {
        font-size: var(--font-size-large);
        color: var(--secondary-color);
        margin-bottom: 20px;
        word-wrap: break-word;
    }
}

input {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Стили для заголовка */
header {
    background-color: var(--primary-color);
    padding: 10px 0;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для секции */
section {
    padding: 50px 0;
    text-align: center;
}

/* Стили для кнопки */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Стили для подвала */
footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}